name: Tests

on: [push, pull_request]

env:
    php-options: -d opcache.enable=0
    php-extensions: fileinfo, intl, gd

jobs:
    tests:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macOS-latest]
                php: ['8.2', '8.3', '8.4', '8.5']
                sapi: ['php', 'php-cgi']

            fail-fast: false

        name: PHP ${{ matrix.php }}/${{ matrix.sapi }} tests on ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none
                  extensions: ${{ env.php-extensions }}

            - run: composer install --no-progress --prefer-dist
            - run: composer tester -- -p ${{ matrix.sapi }} ${{ env.php-options }}
            - if: failure()
              uses: actions/upload-artifact@v4
              with:
                  name: output ${{ matrix.php }}-${{ matrix.sapi }}-${{ matrix.os }}
                  path: tests/**/output


    lowest_dependencies:
        name: Lowest Dependencies
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.2
                  coverage: none
                  extensions: ${{ env.php-extensions }}

            - run: composer update --no-progress --prefer-dist --prefer-lowest --prefer-stable
            - run: composer tester -- ${{ env.php-options }}


    code_coverage:
        name: Code Coverage
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.2
                  coverage: none
                  extensions: ${{ env.php-extensions }}

            - run: composer install --no-progress --prefer-dist
            - run: composer tester -- -p phpdbg ${{ env.php-options }} --coverage ./coverage.xml --coverage-src ./src
            - run: wget https://github.com/php-coveralls/php-coveralls/releases/download/v2.4.3/php-coveralls.phar
            - env:
                  COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: php php-coveralls.phar --verbose --config tests/.coveralls.yml
